[package]
name = "graphql-app-example"
version = "0.1.0"
authors = ["David Pedersen <david.pdrsn@gmail.com>"]
edition = "2018"

[dependencies]
rocket = "0.4.0"
diesel = { version = "1.4.1", features = ["postgres", "r2d2"] }
juniper = "0.12.0"
juniper-from-schema = "0.2.0"
juniper_rocket = "0.3.0"
r2d2 = "0.8.3"
serde_json = "1.0.39"

[dev-dependencies]
assert-json-diff = "1.0.0"
diesel-factories = "0.1.0"
